.timeHintQuestion{
  margin-left: 73px;
  width: 72%;
  padding: 0 0 0 10px;
}
.timeAndAmount{
  margin: 5px;
  border:2px solid;
  border-radius: 8px;
}
.questionCurrentScore {
  margin: 0;
}
.questionImage {
  display: block;
  margin-left:78px;
  width: 72%;
  height: 280px;
  border: 2px solid;
  border-radius: 5px;
}
.capitalCityDiv{
  margin-left:78px;
  width: 72%;
  height: 280px;
  border:8px inset;
  border-color: #257cff;
  border-radius: 15px;
  background-color: #eeeeff;
  font-family:"Times New Roman", Times, serif;
  font-size: 50px;
  padding: 80px 0;
}
.questionFormWrap {
  text-align: center;
  font-weight: bold;
}
.getClueButton{
  cursor: pointer;
  margin: 10px ;
  padding: 10px 45px;
  border-radius: 8px;
  color: white;
  background: linear-gradient(to bottom, #00ffff 10%, #0066ff 90%);
}
.getClueButton:hover:enabled{
  background: linear-gradient(to bottom, #9ffafa 10%, #5794f8 90%);
  border: 2px solid black;
  animation: shake 0.52s
}
.getClueButton:disabled{
  background: linear-gradient(to bottom, #9ffafa 10%, #5794f8 90%);
  cursor:no-drop;
}
.questionSubmit {
  font-weight: 500;
  transition: .2s;
  cursor: pointer;
  margin: 5px;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  background:  conic-gradient(#606570, #4b515d, #343A40, #43444b,
  #606570, #4b515d, #343A40, #43444b,
  #606570, #4b515d, #343A40, #43444b,
  #606570, #4b515d, #343A40, #43444b);
}
.questionSubmit:hover {
  border: 2px solid silver;
}
.answerButton{
  background: linear-gradient(to right, #eaeaea, #c5c4c4);
  border: 2px solid black;
  border-radius: 8px;
  width: 180px;
  height:75px;
  cursor:pointer;
  margin:2px;
  overflow-wrap: break-word;
}
.answerButton:hover:enabled {
  border: 3px solid black;
  background: linear-gradient(to right, #7FBCF9, #77a7d7);
}

.answerButton:disabled {
  cursor:default;
}
.answerResponse {
  font-weight: 500;
  font-size:22px;
  margin: 5px;
}

.blink_me {animation: blinker 1s linear infinite;}

@keyframes blinker { 50% {opacity: 0;} }
