.App {
  text-align: center;
  width: 100%;
  min-height: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  cursor: default;
}
