.resultsLogo {
  width: 25%;
}
.resultsHeader {
  text-decoration: underline;
}
.resultsNumbers {
  font-weight: bold;
}
.endGameButtons {
  font-weight: 500;
  transition: .2s;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  background: linear-gradient(to right, #ed213a, #93291e);
}

.endGameButtons:hover {
  background: linear-gradient(to right, #ec7280, #c44747);
  border: 2px solid #000000;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
